# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/

# processed data
processed_dataset/

# episode data without state
episode_data_wo_state/

# dataset
dataset_experiments/

experiment_results/

dataset_experiments_fc/

experiment_results_fc/

before_dataset/

dataset_experiments_edh/

dataset_experiments_fc_edh/

experiment_results_edh/

experiment_results_fc_edh/

dataset_experiments_fc_summ/

dataset_experiments_fc_summ_plus/

experiment_results_fc_summ/

experiment_results_fc_summ_plus/