# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/

# processed data
processed_dataset/

# episode data without state
episode_data_wo_state/

# dataset
dataset_experiments/

experiment_results/

dataset_experiments_fc/

experiment_results_fc/